/* Pierre LAURENT - mars 2021 */
#canvas {
    border: 5px solid black;
}

html {
    background-image: url(https://svgsilh.com/png-1024/151939.png);
    box-shadow: inset 10000px 0 0 0 rgba(0, 128, 0, 0.8);
    border: none;
    color:white;
    text-align: center;
}